<%- include ('../partials/header.ejs') %>
<%  %>
<div class="card">
    <div class="card-header border-0">
        <nav class="navbar navbar-light bg-light justify-content-between">
            <form class="form-inline">
                <a class="navbar-brand"><%= modelName %>s</a>
                <a href="/<%= modelName.toLowerCase() %>s/add" class="">
                    <i class="fas fa-plus-circle"></i>
                </a>
            </form>
            <!-- Search Bar -->
            <% if (data.length > 0 || typeof search != 'undefined') {%>
            <form class="form-inline" action="/<%= modelName.toLowerCase() %>s/search">
                <select class="custom-select custom-select mr-1" name="modelName">
                    <% if (typeof search == 'undefined') {
                        for (let key in data[0]) { %>
                    <option value="<%= key %>"><%= processTitles(key) %></option>
                    <% }} else { %>
                    <option value="<%= search['modelName'] %>"><%= processTitles(search['modelName']) %></option>
                    <% } %>
                </select> <input class="form-control mr-sm-2" name="value" type="search" placeholder="Search"
                    aria-label="Search">
                <input class="btn btn-outline-success my-2 my-sm-0" type="submit" value="Search">
            </form>
            <% } %>
        </nav>
    </div>
    <table class="table m-0">
        <!-- Table Headers -->
        <% if (data.length < 1) {%>
        <thead class="thead-dark">
            <tr>
                <th>
                    <% if (typeof search == 'undefined') {%>
                    <h3>There are no <%= modelName.toLowerCase() %>s, please <a
                            href="/<%= modelName.toLowerCase() %>s/add">add a new
                            <%= modelName.toLowerCase() %></a>!</h3>
                    <% } else { %>
                    <h3>No results found for <%= modelName.toLowerCase() %>s: <%= processTitles(search['modelName']) %>
                        =
                        <%= search['value'] %></h3>
                    <% }%>
                </th>
            </tr>
        </thead>
        <% } else { %>
        <thead class="thead-dark">
            <tr>
                <% for (let key in data[0]) { %>
                <th><%= processTitles(key) %></th>
                <% } %>
                <th>Options</th>
            </tr>
        </thead>
        <!-- Table Body -->
        <tbody>
            <% for (let i in data) { %>
            <tr>
                <% for (let j in data[i]) { %>
                <td class=""><%- formatDisplay(data[i],j) %></td>
                <% } %>
                <td>
                    <a href="/<%= modelName.toLowerCase() %>s/edit/<%= data[i].id %>" class="btn btn-info btn-xs"
                        role="button">Edit</a>
                    <a href="/<%= modelName.toLowerCase() %>s/delete/<%= data[i].id %>" class="btn btn-danger btn-xs"
                        role="button">Delete</a>
                </td>
            </tr>
            <% }} %>
        </tbody>
    </table>
</div>
<%- include ('../partials/footer.ejs') %>